.container{
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
ul{
    list-style: none;
    font-size: 34px;

}
li{
    float:left;
    padding-right: ;
}
li {
    top: 157px;
    position: relative;
    padding-right: 46px;
    float: left;
}